.box {
    width: 98%;
    max-width: 360px;
    border: 1px solid red;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    padding: 10px;
    margin: 20px 10px;
} 

.image_box {
    width: 100%;
    padding: 8px;
}

.box_informacoes {
    padding: 8px;
}

.box_informacoes_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.numero {
    display: flex;
    align-items: center;
}
.numero span {
    margin-right: 15px;
}

.preco {
    font-size: 14px;
}

.preco_nome {
    font-size: 22px;
    font-weight: 400;
}